/* NavBar */
#navbar a {
  border-bottom: 3px solid transparent;
}

#navbarNav a:hover {
  border-bottom: 3px solid black;
}

#navbarNav a.active {
  border-bottom: 3px solid black;
}


/* Header */
#header {
  background-image: url("/img/bg-header.jpg");
  background-size: cover;
  height: 600px;
  position: relative;
}

.dark-overlay {
  background-color: rgba(0,0,0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Product */
#product i {
  font-size: 5em;
}
